.intro {
    .center {
        transform : translateY(7.47vmin);

        h1 {
            height      : 5.63vmin;
            line-height : 5.63vmin;
            min-width   : 45.08vmin;
            width       : 100%;
        }
        .logo {
            height : 4.3vmin;
            margin : 1vmin 0;
        }
        h2 {
            font-size : 2.04vmin;
        }
    }
}
