.cnt {
    grid-template-rows : 51.15vmin 12.8vmin auto;
}
header {
    grid-template-rows : 5.115vmin auto;
}
section {
    background : #fff;
}
footer {
    background : transparent url('/images/bg_body.jpg') center top / cover no-repeat scroll;
}
