.nav {
    padding : 0 7.68vmin;

    .locale {
        .language {
            font-size   : 1.84vmin;
            line-height : 2.56vmin;
        }
    }
    .social {
        .icon {
            height : 3.56vmin;
            width  : 3.56vmin;
        }
    }
}
