.nav {
    padding : 0 2.34vmax 0 6.68vmax;

    .locale {
        .language {
            font-size   : 2.34vmax;
            line-height : 2.34vmax;
        }
    }
    .social {
        .icon {
            height : 3.59vmax;
            width  : 3.59vmax;
        }
    }
}
